*{
    padding:0px;
    margin:0px;
}
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Basic|Cormorant+Garamond|Courgette|Dancing+Script|Satisfy');

#home{
    background:url("img/IMG_2558-1.jpg") fixed;
    background-size: cover;
    background-position:top;
}
.home_inner{
    background:rgba(0,0,0,0.7);
    min-height: 650px;
}
.navbar-default .navbar-brand{
    color:white;
    font-weight: bold;
    font-size: 40px;
    padding-top:20px;
    transition:1s
}
.navbar-default .navbar-brand:hover{
    color:white;
    transform:scale(1.1);
}
.navbar-default{
    height:60px;
    background-color:transparent;
    border:0px;
    padding-top:10px;
    transition:1s;
}
.navbar-default .navbar-nav>li>a{
    color:white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top:5px;
    margin-left:12px;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a{
    background-color:grey;
    border-radius:5px;
    color:black;
}
#home h1{
    padding-top:150px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
#home h1 a:hover{
    color:white;
    text-decoration: none;
}
#home p{
    text-align: center;
    color:white;
    font-size: 30px;
    padding-top:40px;
    font-family: 'Dancing Script', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Satisfy', cursive;
text-shadow: 1px 1px 1px #aaa;
}
#home .download{
    background-color:white;
    border-radius:7px;
    width:100px;
    margin:auto;
    padding:10px 15px 10px 15px;
    margin-top:50px;
}
#home .download a{
    text-decoration: none;
    color:black;
}
#home .download:hover a{
    color:white;
}
#home .download:hover{
    background-color:transparent;
    border:1px solid white;
    color:white;
}

body {
    margin-top:-20px;
    height: 1700px;
  }

.navcolor{
    background-color:black;
    padding-top:0px;
}


    #about .bg1 h3,#service h1,#work h1,#contact h1{
    text-align: center;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    padding-top:60px;
    margin-top:40px;
    text-shadow: 3px 3px 3px grey;
    font-family:'Times New Roman', Times, serif;
}

    #about .bg1 p{
        font-size: 23px;
        line-height:34px;
        text-indent: 100px;
        text-align: justify;
        color: #444;
        padding-top:70px;
        font-family: 'Dancing Script', cursive;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Courgette', cursive;
        font-family: 'Basic', sans-serif;
        font-family: 'Cormorant Garamond', serif;
    }
    #about .skill{
        list-style: none;
        text-align: center;
        border:1px solid #ddd;
        padding 25px 15px 15px 15px;
         margin: auto;
        margin-top:100px;
        box-shadow: 1px 1px 9px rgba(0,0,0,0.5);
    }
    #about .skill li{
        display: inline-block;
        color:white;
        background-color:black;
        border-radius:5px;
        padding:5px 12px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top:8px;
        cursor:pointer;
        transition:1s;
    }
    #about .skill li:hover{
        background-color:transparent;

        color:black;
        border:1px solid black;
    }

#service{
    background-color:#f7f7f7;
    padding-bottom: 70px;
}
#service .design{
text-align: center;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
    margin-top:30px;
    border-radius: 8px;
background-color:white;}

#service .circle{
    width:70px;
    margin: 10px auto 15px;
    height: 70px;
    border-radius: 50%;
background: rgba(0, 0, 0, 0.05);
}
#service .design:hover .circle{
    background-color:black;
    transition: 1s;
}
#service .design:hover .circle .fas{
    color:white;
    transition: 1s;
}
#service .circle .fas{
    color:black;
    padding-left:5px;
    padding-top:25px;
    font-size: 24px;
}
#service .design h4{
    font-weight: bold;
    font-size: 25px;
    padding-top:10px;
}
#service .design p{
    line-height: 25px;
    text-align: justify;
    padding:0px 15px 0px 15px;
    padding-bottom: 20px;
    font-weight:400;
}


#work p{
    font-weight:500;
    font-size: 25px;
    padding-bottom: 30px;}
 #work .bg4 ul{
    list-style: none;
        padding-bottom: 30px;
    }
#work .bg4 ul li{
        display: inline-block;
        border:2px solid black;
        border-radius: 10px;
        padding:5px 15px;
        cursor: pointer;
        background-color:black;
        color:white;
        text-transform: uppercase;
        font-weight: bold;
        transition: 1s;
    }
    #work .bg4 ul li:hover{
        background-color: white;
        color:black;
    }
    #work .bg4 ul .active{
        background-color:white;
        color:black;
    }
    #work .bg5 .single-work{
        position: relative;
        cursor: pointer;
        transition:1s;
    }

    #work .bg5 .single-work:hover{

       transform: scale(1.2);
    }
    #work .single-work:hover .singlework_inner{
        background-color:rgba(0,0,0,0.7);
        min-height: 100px;
        opacity: 0.8;
    }
   
    #work .bg5 .single-work:hover .itemhover{
        display: block;
       
        border-radius:5px;


    }
    #contact p{
        font-size: 20px;
        font-family:'Times New Roman', Times, serif;
        text-align:center;
    }
    .itemhover{
        position: absolute;
        margin-left:30%;
        top:50px;
        display: none;
        transition:2s;
    }
    #work .itemhover h3{
        font-size: 20px;
        color:white;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;

    }
    #work .itemhover h6{
        color:black;
        background-color:white;
        padding:5px 10px;
        letter-spacing: 1px;
          transition:2s;
        border-radius: 8px;
        font-size: 13px;
    }
    #work .counter{
        background-color:#f7f7f7;
        min-height: 10px;
        margin-top:50px;
    }
    #contact .form{
        background-color:#F7F7F7;
        min-height: 690px;
    }
    #contact form{
        width:500px;
        margin:auto;
        margin-top:30px;
    }
    #contact .new{
        margin-top:100px;
        height: auto;
        overflow: hidden;
    }
    #contact .new .b:hover{
        background-color:gray;
        border-radius: 5px;
        height:200px;
        color:white;
        box-shadow: 4px 4px 4px black;
        transform: scale(1.1);
    }
    #contact .new .b:hover i{
        color:white;

    }
    #contact .new .b{
        transition: 2s;
      

    }
    #contact .new i{
        font-size: 40px;
        margin-top: 30px;

    }
    #contact .new .b h3{
        font-weight: bold;
    }
    #contact .new .b p{
        font-size: 15px;
    }
    #contact .circle{
        margin-top:40px;
        height:50px;
        width: 50px;
        background-color:gray;
        border-radius: 50%;
        display: inline-block;
        margin-left:10px;
        transition: 1s;
    }
    #contact .allcircle h2{
        font-family: 'Dancing Script', cursive;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Satisfy', cursive;
        text-shadow: 1px 1px 1px #aaa;
    }
    #contact .circle:hover{
        background-color:black;
    }
    #contact .circle_inner a i{
        font-size: 20px;
        padding-top:13px;
        color:black;
    }
    #contact .circle:hover i{
        color:white;
    }

   #last {
       margin-top:50px;
       height:40px;
       background-color:skyblue;
   }
   #last p{
       padding-top:5px;
       font-size: 20px;
       font-style: italic;
   }
   #work .counter {
    background-color:darkkhaki;
    padding: 20px 0;
    border-radius: 5px;
}

#work .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

#work .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

#work .fa {
    margin: 0px auto;
    float: none;
    display: table;
    color:white;
}
#work .counter p{
    font-weight: bold;
    font-size: 20px;
}